<div class="movie-results-top">
  <%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>
</div>

<div class="movies-container">
  <p>Showing <%= @facade.movies_count %> Results for <%= @facade.query %> </p>
  <% @facade.movies.each do |movie| %>
    <div class="movie">
      <%= link_to movie.title, user_movie_path(@user, movie.id), method: :get, class:"movie-title" %> 
      <div class="movie-vote-avg">Vote Average: <%= movie.vote_average %></div>
    </div> 
  <% end %>
</div>