<div class="user-dash-top">
  <h2><%= @user.name %>'s Dashboard</h2>
  <button>
    <%= link_to 'Discover Movies', user_discover_index_path(@user) %>
  </button>
</div>

<div class="user-dash-parties-container">
  <h4>Upcoming Viewing Parties &#127902;&#65039; &#127909; &#129395;</h4>

  <% @user.viewing_parties.each do |vp| %>

    <div class="party-card" id="viewing-party-card-<%=vp.id%>">
        <img src="<%= @facade.movie_image(vp.movie_id) %>">
        <h5><%= @facade.movie_details(vp.movie_id).title %></h5>

      <p>Hosted By: 
        <% if vp.host == @user.name %>
          Myself
        <% else %>
          <%= vp.host %>
        <% end %>
      </p>

      <p>Date: <%= vp.date.strftime("%m/%d/%Y") %></p>
      <p>Start Time: <%= vp.start_time.strftime("%I:%M%p") %></p>
      <p> Invited Users:
        <% vp.users.each do |user| %>
          <% if user.name == @user.name %>
            <b><%= user.name %></b>
          <% else %>
            <%= user.name %>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>